@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

[data-theme] * {
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
  border: 1px solid transparent;
}
